.todo-item-enter {
    opacity: 0;
    transform: scale(0.1);
}
.todo-item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 500ms linear;
}

.todo-item-exit {
    opacity: 1;
    transform: scale(1);
}
.todo-item-exit-active {
    opacity: 0;
    transform: scale(0.1);
    transition: all 500ms linear;
}