.toggle-enter {
    opacity: 0;
}

.toggle-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.toggle-exit{
    opacity: 1;
}

.toggle-exit-active{
    opacity: 0;
    transition: opacity 500ms linear;
}