.registration-form {
    width: 400px;
}

.registration-form__label-box {
    display: flex;
    font-size: 18px;
    flex-direction: column;
    margin-bottom: 10px;
}

.registration-form__input {
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.registration-form__submit-btn {
    padding: 5px 10px;
    border-radius: 5px;
}
