.app-list-box {
   list-style: none;
}

.app-list-box__item {
   padding: 10px 15px;
   border: 1px solid gray;
   margin-bottom: 10px;
   width: 300px;
}

.app-list-box__img {
   width: 100%;
}

.app-list-box__author {
   font-size: 12px;
   color: gray;
}

.error-box {
   color: red;
   font-size: 20px;
}

.nav-box {
   display: flex;
   list-style: none;
}

.menu-item {
   color: black;
   padding: 0 10px;
   text-decoration: none;
}

.menu-item--active {
   color: green;
   text-decoration: underline;
}